<mat-toolbar color="primary" class="header">
  <div class="header-left">
    <div class="header-logo">
      <button mat-icon-button class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-name">ECDS</span>
    </div>
    <div class="header-menu" (click)="toggle()">
      <button mat-icon-button *ngIf="!collapsed()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button *ngIf="collapsed()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="header-right">
    <button
      mat-icon-button
      [matBadge]="notificationCount"
      [matBadgeHidden]="notificationCount === 0"
      class="notification-button"
    >
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-button class="admin-button">
      <mat-icon>account_circle</mat-icon>
      Admin
    </button>
  </div>

</mat-toolbar>
